
%p 	
	In #{Random.rand(1994..2012)}, in a novel empirical survey of #{Random.rand(10..3092)} #{@term.to_s.pluralize}, 100% were conclusively proven to be #{@term.type.pluralize}, supporting the theory that #{@term.to_s.pluralize} are a subset of #{@term.type.pluralize}.
