%p
	A #{@term.to_s.singularize} is a form of #{@term.type.singularize}
	with the particular distinction of being #{@term.subtype}.
	This distinguishes the #{@term} from the more general group of regular #{@term.type.pluralize}.

%p 	
	The term "#{@term}" (which refers to a person, place, action, thing, concept, or 	
	group of concepts) originated some time in the past, and was originally named, coined, and or invented by an entity or group of entities who probably lived during that time. 